<div class="user-list-warp">
  <el-row>
      <el-col :span="24">
          <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item><a href="/">用户管理</a></el-breadcrumb-item>
            <el-breadcrumb-item>用户列表</el-breadcrumb-item>
          </el-breadcrumb>
      </el-col>
    </el-row>
    <el-row class="user-search">
    <!-- 搜索框部分 -->
      <el-col :span="8">
          <el-input placeholder="请输入内容" v-model="searchText" class="input-with-select">
              <el-button slot="append"
              icon="el-icon-search"
              @click = "handleSearch">
              </el-button>
          </el-input>
      </el-col>
          <!-- 添加按钮部分 -->
      <el-col :span="4">
          <el-button
          type="success"
          plain
          @click="dialogFormVisible = true">添加按钮</el-button>
    </el-col>
  </el-row>
    <!-- 表格部分 -->
  <el-table
      :data="tableData"
      style="width: 100%">
    <el-table-column
      prop="username"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="mobile"
      label="电话"
      width="180">
    </el-table-column>
    <el-table-column
      label="用户状态"
      width="180">
      <template 
      slot-scope="scope">
        <el-switch
        @change ="(val) => {handleStateChange(val, scope.row)}"
          v-model="scope.row.mg_state"
          active-color="#13ce66"
          inactive-color="#ff4949">
        </el-switch>
      </template>
      </el-table-column>
      <el-table-column
        label="操作"
        width="180">
    <template slot-scope="scope">
        <el-button 
          type="primary" 
          icon="el-icon-edit" 
          size="small" 
          plain
          @click="handleShowEditForm(scope.row)">
      </el-button>
        <el-button
          type="info"
          icon="el-icon-share"
          size="small"
          plain>   
      </el-button>
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="small" 
          plain
          @click="handleDeleteUser(scope.row)">
        </el-button>
    </template>
      </el-table-column>
  </el-table>
    <!-- 分页部分 -->
  <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[1,2,3,4]"
      layout="total,sizes,prev, pager, next, jumper"
      :total="totalSize">
  </el-pagination>
  <!-- 添加对话的弹出框 -->
  <!-- 表单验证 -->
  <!-- 1.为el-form 增加:rules -->
  <!-- 2.为el-form-item 元素 配置prop属性 值是验证对象中对应的名称 -->
  <!-- vue的$refs属性可以用来设置ref属性的DOM -->
  <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
    <el-form
    :model = "userForm"
    :rules = "addUserFormRules"
    ref = "addUserForm">
      <el-form-item label="用户名" label-width="120px" prop="username">
        <el-input v-model="userForm.username" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" label-width="120px" prop="password">
        <el-input v-model="userForm.password" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" label-width="120px" prop="email">
        <el-input v-model="userForm.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话" label-width="120px" prop="mobile">
        <el-input v-model="userForm.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleAddUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 编辑用户对话框部分 -->
  <el-dialog title="编辑用户" :visible.sync="dialogEditFormVisible">
    <el-form
    :model = "editUserForm">
      <el-form-item label="用户名" label-width="120px" prop="username">
        <el-input 
          v-model="editUserForm.username" 
          auto-complete="off"
          :disabled="true"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" label-width="120px" prop="email">
        <el-input v-model="editUserForm.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话" label-width="120px" prop="mobile">
        <el-input v-model="editUserForm.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogEditFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEditUser">确 定</el-button>
    </div>
  </el-dialog>
</div>